NODE_ENV=development
NODE_OPTIONS=--max_old_space_size=2048

TZ=UTC
COOKIE_SECRET=<secret>
ID_TOKEN_PRIVATE_KEY_AS_BASE64=<private_key_encoded_as_base64>
CORS_ALLOWED_ORIGNS=http://localhost:3000
SERVER_PORT=9002

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
DATABASE_URL=postgresql://<user>:<password>@<host>:5432/demo-auth-rbac
DIRECT_URL=postgresql://<user>:<password>@<host>:5432/demo-auth-rbac

SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=465
SMTP_USER=<smtp_user>
SMTP_PASSWORD=<smtp_password>
SMTP_SECURE=true

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
